<%- include('header') %>
<div class="container mt-5">
  <form action="/save" method='post' class="form">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Note Title</label
      >
      <input
        required
        type="text"
        name="title"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Note Title"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Note Author</label
      >
      <input
        required
        type="text"
        name="author"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Note Author"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Date</label>
      <input
        required name="date" type="date" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Category</label>
      <input
        required
        type="text"
        name="category"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="categories"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Note Body</label
      >
      <textarea
        class="form-control"
        name="body"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <button class="btn btn-success" type="submit">
        Save Note ✅
    </button>
  </form>
</div>
<%- include('footer') %>
